.header {
  background-color: #156677;
  height: 100px;
  color: white;
}

.logo {
  height: 70px;
}

.shopping-cart-image {
  height: auto;
  cursor: pointer;
}

.shopping-cart-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.search-and-category-container {
  height: 100%;
}

.search-container {
  background-color: white;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 15px;
  display:  flex;
  flex-direction: row;
}

.search:hover, .search-container:hover {
  background-color : #e4e4e4;
}

.search {
  margin-left: 10px;
  border: none;
  font-size: 17px;
  height: 100%;
  width: 97%;
}

textarea, select, input, button { outline: none; }

.search-button {
  width: 70px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0c414f;
}

