.genre-button {
  background-color: #3fb5ff;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: lightgray solid 1px;
}

.genre-list {
  margin-top: 15px;
}

.product-card {
  padding: 0px !important;
  margin: 0px !important;
}

.card-link,
.card-link:hover {
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}
